
@media print {
  /* General print utility classes */
  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  /* Ensure colors are printed */
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: auto;
    margin: 0.5in;
  }

  /* Equipment List Table */
  .badge-print {
    border: 1px solid #ccc;
    background-color: transparent !important;
    color: black !important;
  }

  /* Reports Page */
  .page-header-print-title {
    display: block !important;
  }

  .print-cautela-item {
    page-break-inside: avoid;
    break-inside: avoid;
    border-bottom: 1px dashed #9ca3af; /* Tailwind gray-400 */
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .print-cautela-item:last-child {
      border-bottom: none;
  }

  /* Officer/Equipment History Modal */
  .dialog-header-non-print, .dialog-footer-non-print,
  .equipment-general-info-non-print, .officer-personal-info-non-print {
      display: none !important;
  }
  
  .print-only-officer-title, .print-only-equipment-title {
      display: block !important;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      text-align: center;
  }

  body.print-officer-details-active #officer-details-dialog-content,
  body.print-equipment-details-active #equipment-details-dialog-content {
      position: absolute;
      left: 0;
      top: 0;
      display: block !important;
      width: 100% !important;
      max-width: none !important;
      height: auto !important;
      overflow: visible !important;
      box-shadow: none !important;
      border: none !important;
  }

  .print-badge-entregue {
    background-color: #fef9c3 !important;
    color: #854d0e !important;
  }

  .print-badge-devolvido {
    background-color: #dcfce7 !important;
    color: #166534 !important;
  }
}
